@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mx-auto mt-2 mb-2 text-green-500 transition-all duration-300 ease-linear bg-gray-400 shadow-lg cursor-pointer hover:bg-green-600 dark:bg-gray-800 hover:text-white hover:rounded-xl rounded-3xl ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 text-xs font-bold text-white transition-all duration-100 origin-left scale-0 bg-gray-900 rounded-md shadow-md min-w-max left-14;
  }

  .sidebar-hr {
    @apply mx-2 bg-gray-200 border border-gray-200 rounded-full dark:bg-gray-800 dark:border-gray-800;
  }

  .top-navigation {
    @apply flex flex-row items-center w-full h-16 m-0 bg-gray-300 shadow-lg justify-evenly dark:bg-gray-700 bg-opacity-90;
  }

  .top-navigation-icon {
    @apply ml-4 mr-3 text-gray-500 transition duration-300 ease-in-out cursor-pointer hover:text-pink-400;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply my-auto ml-2 text-lg font-semibold tracking-wider text-gray-500;
  }

  .title-text {
    @apply my-auto ml-2 mr-auto text-xl font-semibold tracking-wider text-gray-500 transition duration-300 ease-in-out text-opacity-80;
  }

  .search {
    @apply flex items-center justify-start w-1/5 px-2 ml-0 mr-0 text-gray-500 transition duration-300 ease-in-out bg-gray-400 rounded-md shadow-md dark:bg-gray-600 h-9;
  }

  .search-input {
    @apply w-full pl-1 font-sans font-semibold text-gray-500 placeholder-gray-500 bg-transparent rounded outline-none;
  }

  .content-container {
    @apply flex flex-col w-full h-screen m-0 overflow-hidden bg-gray-300 dark:bg-gray-700;
  }

  .content-list {
    @apply flex flex-col items-center w-full h-full px-0 pb-12 mx-auto mt-0 ml-0 overflow-y-scroll;
  }

  .post {
    @apply flex flex-row items-center w-full px-8 py-4 m-0 cursor-pointer justify-evenly;
  }

  .post-selected {
    @apply bg-green-400 shadow-md dark:bg-gray-900;
  }

  .post-content {
    @apply flex flex-col justify-start w-4/5 ml-auto;
  }

  .post-text {
    @apply mr-auto text-lg text-left text-gray-800 whitespace-normal dark:text-white;
  }

  .post-owner {
    @apply mr-2 font-semibold text-left text-gray-800 cursor-pointer dark:text-white;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center w-12 m-0 mb-auto ml-auto;
  }

  .avatar {
    @apply flex-none object-cover w-12 h-full mx-0 mt-0 mb-auto bg-gray-100 rounded-full shadow-md cursor-pointer;
  }

  .timestamp {
    @apply ml-2 text-xs font-semibold text-left text-gray-500 dark:text-gray-600;
  }

  .bottom-bar {
    @apply fixed flex flex-row items-center justify-between h-12 px-2 bg-gray-400 rounded-lg shadow-lg left-88 right-8 bottom-2 dark:bg-gray-600;
  }

  .bottom-bar-input {
    @apply w-full ml-0 mr-auto font-semibold text-gray-500 placeholder-gray-500 bg-transparent outline-none dark:text-gray-400 cursor-text;
  }

  .channel-bar {
    @apply h-auto m-0 ml-16 overflow-hidden bg-gray-200 w-80 dark:bg-gray-800;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center h-16 p-0 m-0;
  }

  .channel-block-text {
    @apply my-auto ml-4 mr-auto text-lg font-bold tracking-wider text-gray-600 align-middle dark:text-gray-400;
  }

  .dropdown {
    @apply w-full px-2 pb-2 m-0 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center mx-0 text-gray-500 cursor-pointer justify-evenly;
  }

  .dropdown-header-text {
    @apply text-lg font-semibold text-gray-500 cursor-default text-opacity-90;
  }

  .dropdown-header-text-selected {
    @apply text-lg font-bold text-blue-500 text-opacity-90;
  }

  .dropdown-selection {
    @apply flex flex-row items-center mt-1 ml-2 mr-auto transition duration-300 ease-in-out cursor-pointer justify-evenly;
  }

  .dropdown-selection-text {
    @apply mr-auto font-semibold tracking-wide text-gray-500 transition duration-300 ease-in-out cursor-pointer hover:text-pink-500 dark:hover:text-gray-500;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
